@tailwind base;
@tailwind components;
@tailwind utilities;

.closed {
    transform: rotate(0deg);
    transition: transform 0.1s linear;
}
.open {
    transform: rotate(180deg);
    transition: transform 0.1s linear;
}
.show-password-img {
    transform: translateY(-37px)translateX(-10px);
    cursor: pointer;
}
.text-concat {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.2em;
}
.max-height-2 {
    max-height: 2.6em;
}