@tailwind base;
@tailwind components;
@tailwind utilities;

iframe {
    z-index: 0 !important;
}
.closed {
    transform: rotate(0deg);
    transition: transform 0.1s linear;
}
.open {
    transform: rotate(180deg);
    transition: transform 0.1s linear;
}
.show-password-img {
    transform: translateY(-37px)translateX(-10px);
    cursor: pointer;
}
.text-concat {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.2em;
}
.max-height-2 {
    max-height: 2.6em;
}

.step:before {
    height: .1rem!important;
}
.step:after { background-color: white!important; border: #7c3cfc solid 1px;}
.step:before { background-color: white!important; border: #7c3cfc solid 1px;}
.step-success:after { background-color: #7c3cfc!important; color: white!important; border: #7c3cfc solid 1px;}
.step-success:before { background-color: #7c3cfc!important;}

#GameBoard {
    position: relative;
    margin: auto;
    border-style: solid;
}
#GameBoard .Block {
    position: absolute;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.fadeInEffect {
    animation: fadeIn 350ms ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}